body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
    background-attachment: fixed;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
}

#background{
  display: none;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: -2vh;
  display: inline-block;
  margin-left: 30%;
}

svg {
  display: inline-block;
  width: 5vw;
  height: 2.3em;
  margin-left: 2em;
}

.inner-cont {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    );
  width: 60%;
  margin: -2vh auto 0 auto;
  padding: 2em;
  border-radius: 2em;
  position: absolute;
  top: 10vh;
  bottom: 22vh;
  z-index: 10000;
  margin-left: 16%;
}

canvas{
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
}

.errmsg{
  display: none;
}

#rainy-canvas{
  z-index: 11 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.content{
  position: relative;
  z-index: 13;
  width: 60%;
  margin: 0 auto;
  margin-top: 15vh;
  color: #fff;
  margin-bottom: 0;
}

.search{
  margin-left: 20%;
}

.search input, .search button{
  height: 2em;
  border-radius: 1.2em;
}

.search input{
  padding: 0.8em;
}

.weathercont{
  padding-top: 6em;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    );
  font-family: 'Saira Condensed', sans-serif;
}

.currenttime {
  position: absolute;
  right: 5em;
  top: 5em;
}

h2, h3, p{
  margin: 0;
}

.location{
  padding-top: 1.2em;
}

.description{
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 0.9em;
}

/* cloud simulation */
#viewport {
  bottom: 0;
  left: 0;
  overflow: hidden;
  perspective: 400;
  position: absolute;
  right: 0;
  top: 0;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.28, rgb(69,132,180)), color-stop(0.64, rgb(31,71,120)) );
}

#world {
  height: 512px;
  left: 50%;
  margin-left: -256px;
  margin-top: -256px;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 512px;
}

.cloudBase {
  height: 20px;
  left: 256px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 256px;
  width: 20px;
}

.cloudLayer {
  height: 256px;
  left: 50%;
  margin-left: -128px;
  margin-top: -128px;
  position: absolute;
  top: 50%;
  width: 256px;
  animation: rotation 50s infinite linear;
}

.wind-rotation{
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #000;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.temper{
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 2em;
}
h2{
  width: 100%;
}

/* footer */
footer {
  text-align: center;
  width: 100vw;
  color: #fff;
  position: absolute;
  bottom: 18vh;
}
