body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
    background-attachment: fixed;
}

#background{
  display: none;
}

canvas{
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
}

#rainy-canvas{
  z-index: 11 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.content{
  position: relative;
  z-index: 13;
  width: 80%;
  margin: 0 auto;
  margin-top: 15vh;
  color: #fff;
  margin-bottom: 0;
}

.upper{
  padding-left: 2em;
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    );
}

.currenttime {
  position: absolute;
  right: 5em;
  top: 5em;
}

h2, h3, p{
  margin: 0;
}

.location{
  padding-top: 1.2em;
}

.description{
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 0.9em;
}

.left, .right{
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
}

.content .left{
  background: linear-gradient(
      rgba(33,245,255, 0.3),
      rgba(33,245,255, 0.6)
    );
    float: left;
}

.weathercont .right{
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255,255, 0.4)
    );
}

ul{
  margin: 0;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
}

ul li{
  list-style: none;
}
