body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
    background-attachment: fixed;
}

#background{
  display: none;
}

canvas{
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
}

.errmsg{
  display: none;
}

#rainy-canvas{
  z-index: 11 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.content{
  position: relative;
  z-index: 13;
  width: 60%;
  margin: 0 auto;
  margin-top: 15vh;
  color: #fff;
  margin-bottom: 0;
}

.search{
  margin-left: 65%;
}

.search input, .search button{
  height: 2em;
  border-radius: 1.2em;
}

.search input{
  padding: 0.8em;
}

.weathercont{
  padding: 2em;
  position: relative;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    );

  border-radius: 3em 2em;
  font-family: 'Saira Condensed', sans-serif;
}

.currenttime {
  position: absolute;
  right: 5em;
  top: 5em;
}

h2, h3, p{
  margin: 0;
}

.location{
  padding-top: 1.2em;
}

.description{
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 0.9em;
}

/* .left, .right{
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
} */

/* .content .left{
  background: linear-gradient(
      rgba(33,245,255, 0.3),
      rgba(33,245,255, 0.6)
    );
    float: left;
}

.weathercont .right{
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255,255, 0.4)
    );
} */

/* ul{
  margin: 0;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
}

ul li{
  list-style: none;
} */

/* cloud simulation */
#viewport {
  bottom: 0;
  left: 0;
  overflow: hidden;
  perspective: 400;
  position: absolute;
  right: 0;
  top: 0;
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.28, rgb(69,132,180)), color-stop(0.64, rgb(31,71,120)) );
}

#world {
  height: 512px;
  left: 50%;
  margin-left: -256px;
  margin-top: -256px;
  position: absolute;
  top: 50%;
  transform-style: preserve-3d;
  width: 512px;
}

.cloudBase {
  height: 20px;
  left: 256px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 256px;
  width: 20px;
}

.cloudLayer {
  height: 256px;
  left: 50%;
  margin-left: -128px;
  margin-top: -128px;
  position: absolute;
  top: 50%;
  width: 256px;
  animation: rotation 50s infinite linear;
}

.wind-rotation{
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
